## Dmitry Gromov
### Lesson6

### Задание 1

Импортируйте библиотеки pandas и numpy.

Загрузите "Boston House Prices dataset" из встроенных наборов данных библиотеки sklearn. Создайте датафреймы X и y из этих данных.

Разбейте эти датафреймы на тренировочные (X_train, y_train) и тестовые (X_test, y_test) с помощью функции train_test_split так, чтобы размер тестовой выборки
составлял 30% от всех данных, при этом аргумент random_state должен быть равен 42.

Создайте модель линейной регрессии под названием lr с помощью класса LinearRegression из модуля sklearn.linear_model.

Обучите модель на тренировочных данных (используйте все признаки) и сделайте предсказание на тестовых.

Вычислите R2 полученных предказаний с помощью r2_score из модуля sklearn.metrics.

In [22]:
# импортируем pandas и numpy
import numpy as np
import pandas as pd

In [23]:
boston = load_boston()

In [24]:
boston.data.shape

(506, 13)

In [25]:
# Смотрим какие есть ключи
boston.keys()

dict_keys(['data', 'target', 'feature_names', 'DESCR', 'filename'])

In [26]:
print(boston.DESCR)

.. _boston_dataset:

Boston house prices dataset
---------------------------

**Data Set Characteristics:**

    :Number of Instances: 506

    :Number of Attributes: 13 numeric/categorical predictive. Median Value (attribute 14) is usually the target.

    :Attribute Information (in order):
        - CRIM     per capita crime rate by town
        - ZN       proportion of residential land zoned for lots over 25,000 sq.ft.
        - INDUS    proportion of non-retail business acres per town
        - CHAS     Charles River dummy variable (= 1 if tract bounds river; 0 otherwise)
        - NOX      nitric oxides concentration (parts per 10 million)
        - RM       average number of rooms per dwelling
        - AGE      proportion of owner-occupied units built prior to 1940
        - DIS      weighted distances to five Boston employment centres
        - RAD      index of accessibility to radial highways
        - TAX      full-value property-tax rate per $10,000
        - PTRATIO  pupil-teacher ratio by town
        - B        1000(Bk - 0.63)^2 where Bk is the proportion of black people by town
        - LSTAT    % lower status of the population
        - MEDV     Median value of owner-occupied homes in $1000's

    :Missing Attribute Values: None

    :Creator: Harrison, D. and Rubinfeld, D.L.

This is a copy of UCI ML housing dataset.
https://archive.ics.uci.edu/ml/machine-learning-databases/housing/


This dataset was taken from the StatLib library which is maintained at Carnegie Mellon University.

The Boston house-price data of Harrison, D. and Rubinfeld, D.L. 'Hedonic
prices and the demand for clean air', J. Environ. Economics & Management,
vol.5, 81-102, 1978.   Used in Belsley, Kuh & Welsch, 'Regression diagnostics
...', Wiley, 1980.   N.B. Various transformations are used in the table on
pages 244-261 of the latter.

The Boston house-price data has been used in many machine learning papers that address regression
problems.

.. topic:: References

   - Belsley, Kuh & Welsch, 'Regression diagnostics: Identifying Influential Data and Sources of Collinearity', Wiley, 1980. 244-261.
   - Quinlan,R. (1993). Combining Instance-Based and Model-Based Learning. In Proceedings on the Tenth International Conference of Machine Learning, 236-243, University of Massachusetts, Amherst. Morgan Kaufmann.

In [27]:
# Смотрим данные ключа "feature_names"
boston['feature_names']

array(['CRIM', 'ZN', 'INDUS', 'CHAS', 'NOX', 'RM', 'AGE', 'DIS', 'RAD',
       'TAX', 'PTRATIO', 'B', 'LSTAT'], dtype='<U7')

In [28]:
# Создаём DataFrame и смотрим как оно выглядит
columns_lst = boston['feature_names']
df = pd.DataFrame(boston.data, columns=columns_lst)
df

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT
0,0.00632,18.0,2.31,0.0,0.538,6.575,65.2,4.0900,1.0,296.0,15.3,396.90,4.98
1,0.02731,0.0,7.07,0.0,0.469,6.421,78.9,4.9671,2.0,242.0,17.8,396.90,9.14
2,0.02729,0.0,7.07,0.0,0.469,7.185,61.1,4.9671,2.0,242.0,17.8,392.83,4.03
3,0.03237,0.0,2.18,0.0,0.458,6.998,45.8,6.0622,3.0,222.0,18.7,394.63,2.94
4,0.06905,0.0,2.18,0.0,0.458,7.147,54.2,6.0622,3.0,222.0,18.7,396.90,5.33
...,...,...,...,...,...,...,...,...,...,...,...,...,...
501,0.06263,0.0,11.93,0.0,0.573,6.593,69.1,2.4786,1.0,273.0,21.0,391.99,9.67
502,0.04527,0.0,11.93,0.0,0.573,6.120,76.7,2.2875,1.0,273.0,21.0,396.90,9.08
503,0.06076,0.0,11.93,0.0,0.573,6.976,91.0,2.1675,1.0,273.0,21.0,396.90,5.64
504,0.10959,0.0,11.93,0.0,0.573,6.794,89.3,2.3889,1.0,273.0,21.0,393.45,6.48
505,0.04741,0.0,11.93,0.0,0.573,6.030,80.8,2.5050,1.0,273.0,21.0,396.90,7.88

In [29]:
target = pd.DataFrame(boston.target)
target.keys()

RangeIndex(start=0, stop=1, step=1)

In [30]:
# df['MEDV'] = target
df

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT
0,0.00632,18.0,2.31,0.0,0.538,6.575,65.2,4.0900,1.0,296.0,15.3,396.90,4.98
1,0.02731,0.0,7.07,0.0,0.469,6.421,78.9,4.9671,2.0,242.0,17.8,396.90,9.14
2,0.02729,0.0,7.07,0.0,0.469,7.185,61.1,4.9671,2.0,242.0,17.8,392.83,4.03
3,0.03237,0.0,2.18,0.0,0.458,6.998,45.8,6.0622,3.0,222.0,18.7,394.63,2.94
4,0.06905,0.0,2.18,0.0,0.458,7.147,54.2,6.0622,3.0,222.0,18.7,396.90,5.33
...,...,...,...,...,...,...,...,...,...,...,...,...,...
501,0.06263,0.0,11.93,0.0,0.573,6.593,69.1,2.4786,1.0,273.0,21.0,391.99,9.67
502,0.04527,0.0,11.93,0.0,0.573,6.120,76.7,2.2875,1.0,273.0,21.0,396.90,9.08
503,0.06076,0.0,11.93,0.0,0.573,6.976,91.0,2.1675,1.0,273.0,21.0,396.90,5.64
504,0.10959,0.0,11.93,0.0,0.573,6.794,89.3,2.3889,1.0,273.0,21.0,393.45,6.48
505,0.04741,0.0,11.93,0.0,0.573,6.030,80.8,2.5050,1.0,273.0,21.0,396.90,7.88

### Разведочный анализ данных (EDA)

In [31]:
# Смотрим отсутсвующие данные
df.isnull().sum()

CRIM       0
ZN         0
INDUS      0
CHAS       0
NOX        0
RM         0
AGE        0
DIS        0
RAD        0
TAX        0
PTRATIO    0
B          0
LSTAT      0
dtype: int64

In [32]:
df.describe()

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT
count,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000
mean,3.613524,11.363636,11.136779,0.069170,0.554695,6.284634,68.574901,3.795043,9.549407,408.237154,18.455534,356.674032,12.653063
std,8.601545,23.322453,6.860353,0.253994,0.115878,0.702617,28.148861,2.105710,8.707259,168.537116,2.164946,91.294864,7.141062
min,0.006320,0.000000,0.460000,0.000000,0.385000,3.561000,2.900000,1.129600,1.000000,187.000000,12.600000,0.320000,1.730000
25%,0.082045,0.000000,5.190000,0.000000,0.449000,5.885500,45.025000,2.100175,4.000000,279.000000,17.400000,375.377500,6.950000
50%,0.256510,0.000000,9.690000,0.000000,0.538000,6.208500,77.500000,3.207450,5.000000,330.000000,19.050000,391.440000,11.360000
75%,3.677083,12.500000,18.100000,0.000000,0.624000,6.623500,94.075000,5.188425,24.000000,666.000000,20.200000,396.225000,16.955000
max,88.976200,100.000000,27.740000,1.000000,0.871000,8.780000,100.000000,12.126500,24.000000,711.000000,22.000000,396.900000,37.970000

In [33]:
# Смотрим наличие NULL еще раз
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 506 entries, 0 to 505
Data columns (total 13 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   CRIM     506 non-null    float64
 1   ZN       506 non-null    float64
 2   INDUS    506 non-null    float64
 3   CHAS     506 non-null    float64
 4   NOX      506 non-null    float64
 5   RM       506 non-null    float64
 6   AGE      506 non-null    float64
 7   DIS      506 non-null    float64
 8   RAD      506 non-null    float64
 9   TAX      506 non-null    float64
 10  PTRATIO  506 non-null    float64
 11  B        506 non-null    float64
 12  LSTAT    506 non-null    float64
dtypes: float64(13)
memory usage: 51.5 KB

In [34]:
# Загружаем "Boston House Prices dataset" из sklearn
from sklearn.model_selection import train_test_split
from sklearn.datasets import load_boston
X, y = load_boston(return_X_y = True)
# print(X)
# print(y)

In [35]:
# Разбиваем датафреймы на тренировочные и тестовые
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.30, train_size=0.30, random_state=42)

In [36]:
print('X_train shape:', X_train.shape)
print('X_test shape:', X_test.shape)
print('y_train shape:', y_train.shape)
print('y_test shape:', y_test.shape)

X_train shape: (151, 13)
X_test shape: (152, 13)
y_train shape: (151,)
y_test shape: (152,)

In [37]:
# Импортируем linearRegression из модуля sklearn.linear_model
from sklearn.linear_model import LinearRegression

# Создаем объект класса LinearRegression
lr = LinearRegression().fit(X_train, y_train)

In [38]:
# lr.fit(X_train, y_train)
lr

LinearRegression()

In [39]:
# Получаем R2 по тренировочному набору
y_train_predicted = lr.predict(X_train)
print('R2 по тренировочному набору:', lr.score(X_train, y_train).sum())

R2 по тренировочному набору: 0.7326665028271211

In [40]:
# Получаем R2 по тестовому набору
y_test_predicted = lr.predict(X_test)
print('R2 по тестируемому набору:', lr.score(X_test, y_test).sum())

R2 по тестируемому набору: 0.6970407352331396

In [41]:
# Как я понял, тоже самое через готовую метрику r2_score
from sklearn.metrics import mean_squared_error, r2_score

# y_train_predict = lr.predict(X_train)
r2 = r2_score(y_train, y_train_predicted)
print('LinearRegression - R2 по тренировочному набору посредством r2_score', r2)

# y_test_predict = lr.predict(X_test)
r2 = r2_score(y_test, y_test_predicted)
print('LinearRegression - R2 по тестовому набору посредством r2_score', r2)

LinearRegression - R2 по тренировочному набору посредством r2_score 0.7326665028271211
LinearRegression - R2 по тестовому набору посредством r2_score 0.6970407352331396

### Задание 2

Создайте модель под названием model с помощью RandomForestRegressor из модуля sklearn.ensemble.

Сделайте агрумент n_estimators равным 1000,
max_depth должен быть равен 12 и random_state сделайте равным 42.

Обучите модель на тренировочных данных аналогично тому, как вы обучали модель LinearRegression,
но при этом в метод fit вместо датафрейма y_train поставьте y_train.values[:, 0],
чтобы получить из датафрейма одномерный массив Numpy,
так как для класса RandomForestRegressor в данном методе для аргумента y предпочтительно применение массивов вместо 
датафрейма.


Сделайте предсказание на тестовых данных и посчитайте R2. Сравните с результатом из предыдущего задания.
Напишите в комментариях к коду, какая модель в данном случае работает лучше.

In [42]:
# Импортируем класс RandomForestRegressor из модуля sklearn.ensemble
from sklearn.ensemble import RandomForestRegressor

In [43]:
rf_model = RandomForestRegressor(n_estimators=1000, max_depth=12, random_state=42)

In [44]:
# Еще раз грузим boston
boston = load_boston()

In [45]:
boston.keys()

dict_keys(['data', 'target', 'feature_names', 'DESCR', 'filename'])

In [46]:
boston.feature_names

array(['CRIM', 'ZN', 'INDUS', 'CHAS', 'NOX', 'RM', 'AGE', 'DIS', 'RAD',
       'TAX', 'PTRATIO', 'B', 'LSTAT'], dtype='<U7')

In [47]:
columns_lst = boston.feature_names

In [48]:
X = pd.DataFrame(boston.data, columns=columns_lst)

In [49]:
y = pd.DataFrame(boston.target, columns=['MEDV'])

In [50]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, train_size=0.2, random_state=42 )

In [51]:
X.head()

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT
0,0.00632,18.0,2.31,0.0,0.538,6.575,65.2,4.0900,1.0,296.0,15.3,396.90,4.98
1,0.02731,0.0,7.07,0.0,0.469,6.421,78.9,4.9671,2.0,242.0,17.8,396.90,9.14
2,0.02729,0.0,7.07,0.0,0.469,7.185,61.1,4.9671,2.0,242.0,17.8,392.83,4.03
3,0.03237,0.0,2.18,0.0,0.458,6.998,45.8,6.0622,3.0,222.0,18.7,394.63,2.94
4,0.06905,0.0,2.18,0.0,0.458,7.147,54.2,6.0622,3.0,222.0,18.7,396.90,5.33

In [52]:
y.head()

   MEDV
0  24.0
1  21.6
2  34.7
3  33.4
4  36.2

In [53]:
print('X_train.shape', X_train.shape)
print('y_train.shape', y_train.shape)

X_train.shape (101, 13)
y_train.shape (101, 1)

In [54]:
(y_train.values[:, 0]).shape

(101,)

In [55]:
# Строим лес деревьев
rf_model.fit(X_train, y_train.values[:, 0])

RandomForestRegressor(max_depth=12, n_estimators=1000, random_state=42)

In [56]:
y_train_predicted = rf_model.predict(X_train)
y_test_predicted = rf_model.predict(X_test)

In [57]:
# y_train_predict = lr.predict(X_train)
r2 = r2_score(y_train, y_train_predicted)
print('RandomForestRegressor - R2 по тренировочному набору посредством r2_score', r2)

# y_test_predict = lr.predict(X_test)
r2 = r2_score(y_test, y_test_predicted)
print('RandomForestRegressor - R2 по тестовому набору посредством r2_score', r2)

RandomForestRegressor - R2 по тренировочному набору посредством r2_score 0.9638825252553773
RandomForestRegressor - R2 по тестовому набору посредством r2_score 0.7193051369637229

In [58]:
# Сравниваем результаты моделирования
# LinearRegression
# R2 по тренировочному набору посредством r2_score 0.7326665028271211
# R2 по тестовому набору посредством r2_score 0.6970407352331396

# RandomForestRegressor
# R2 по тренировочному набору посредством r2_score 0.9638825252553773
# R2 по тестовому набору посредством r2_score 0.7193051369637229

### Вывод:
#### RandomForestRegressor показал коэффициент детерминации более близкий к 1

### *Задание 3

Вызовите документацию для класса RandomForestRegressor,

найдите информацию об атрибуте feature_importances_.

С помощью этого атрибута найдите сумму всех показателей важности,

установите, какие два признака показывают наибольшую важность.

In [59]:
# RandomForestRegressor?

feature_importances_ : ndarray of shape (n_features,)

    The impurity-based feature importances.

    The higher, the more important the feature.
    
    The importance of a feature is computed as the (normalized)
    
    total reduction of the criterion brought by that feature.  It is also
    
    known as the Gini importance

In [60]:
rf_model.feature_importances_

array([0.07709113, 0.00202015, 0.03014456, 0.00143187, 0.040569  ,
       0.41212321, 0.04221556, 0.03527597, 0.00589898, 0.02326946,
       0.01080121, 0.01974202, 0.29941687])

In [61]:
columns = pd.DataFrame(zip(columns_lst, rf_model.feature_importances_))

In [62]:
print(columns)

          0         1
0      CRIM  0.077091
1        ZN  0.002020
2     INDUS  0.030145
3      CHAS  0.001432
4       NOX  0.040569
5        RM  0.412123
6       AGE  0.042216
7       DIS  0.035276
8       RAD  0.005899
9       TAX  0.023269
10  PTRATIO  0.010801
11        B  0.019742
12    LSTAT  0.299417

In [63]:
# Проверяем. В сумме должна быть единица!
columns.sum()

0    CRIMZNINDUSCHASNOXRMAGEDISRADTAXPTRATIOBLSTAT
1                                              1.0
dtype: object

In [64]:
# Получаем два наиболее важных признака
columns[[0, 1]].sort_values(1, ascending=False).head(2)

        0         1
5      RM  0.412123
12  LSTAT  0.299417